p {
  margin: 0;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  text-indent: 0;
  text-align: left;
  line-height: normal;
  font-family: 'Times New Roman';
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-transform: none;
}
map > area {
  outline: none;
}
.ts0 {
  font-family: 'Courier New';
}
.ts1 {
  font-family: Tahoma;
  font-weight: bold;
}
.ts2 {
  font-family: Tahoma;
  font-size: 11pt;
  color: Black;
}
.ts3 {
  font-family: Tahoma;
  color: Black;
}
.ts4 {
  font-family: Tahoma;
}
.ts5 {
  font-family: Tahoma;
  color: Gray;
  background-color: White;
}
.ts6 {
  font-family: 'Courier New';
  font-weight: bold;
}
.ts7 {
  font-size: 11pt;
  color: Black;
}
.ts8 {
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts9 {
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts10 {
  font-weight: bold;
  color: Black;
}
.ts11 {
  font-family: Tahoma;
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts12 {
  font-family: Tahoma;
}
.ts13 {
  font-family: Tahoma;
  font-size: 11pt;
  font-weight: bold;
}
.ts14 {
  font-family: Tahoma;
  font-size: 11pt;
  color: Black;
}
.ts15 {
  font-family: Tahoma;
  font-size: 11pt;
  font-weight: bold;
  color: Black;
}
.ts16 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts17 {
  font-family: Tahoma;
  font-size: 11pt;
}
.ts18 {
  font-family: Arial;
  color: Blue;
}
.ts19 {
  font-family: Arial;
}
.ts20 {
  font-family: Tahoma;
}
.ts21 {
  font-family: Calibri;
  font-weight: bold;
  color: Black;
}
.ts22 {
  font-family: Calibri;
}
.ts23 {
  font-family: Tahoma;
}
.ts24 {
  font-family: Tahoma;
  font-weight: bold;
  color: Black;
}
.ts25 {
  font-family: Tahoma;
  color: Black;
}
.ts26 {
  font-family: Tahoma;
}
.ts27 {
  font-family: Tahoma;
}
.ts28 {
  font-family: Arial;
}
.ts29 {
  font-family: Calibri;
  color: Black;
}
.hs0 {
  font-family: Tahoma;
  text-decoration: underline;
  color: Gray;
  background-color: White;
}
.hs1 {
  font-family: Tahoma;
  font-size: 11pt;
  text-decoration: underline;
  color: Blue;
}
.ps0 {
  font-size: 10pt;
}
.ps1 {
  font-size: 11pt;
}
.ps2 {
  text-align: center;
}
.ps3 {
  text-align: center;
  font-size: 10pt;
}
.ps4 {
  padding-bottom: 10pt;
  line-height: 1.15;
  font-size: 10pt;
}
.ps5 {
  padding-bottom: 10pt;
  line-height: 1.15;
}
.ps6 {
  padding-bottom: 10pt;
  line-height: 1.15;
  font-size: 11pt;
}
.ps7 {
  text-align: center;
  font-size: 11pt;
}
.block0 {
  padding: 0 0 10pt 0;
}
.hline0 {
  width: 100%;
  height: 1px;
  margin: 8px auto;
  background-color: Silver;
  border-style: none;
}
.tbl0 {
  width: 424.55pt;
  border-collapse: collapse;
  border-style: none;
}
.tbl0 > tbody > tr.row0 {
  height: 28.3pt;
  border-style: none;
}
.tbl0 > tbody > tr.row1 {
  height: 42.1pt;
  border-style: none;
}
.tbl0 > tbody > tr.row2 {
  height: 14.5pt;
  border-style: none;
}
.tbl0 > tbody > tr.row3 {
  height: 15.25pt;
  border-style: none;
}
.tbl0 > tbody > tr > td.cell0 {
  width: 120.85pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1.5pt;
  border-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell1 {
  width: 303.7pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1.5pt;
  border-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell2 {
  width: 120.85pt;
  height: 23.25pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1.5pt;
  border-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell3 {
  width: 303.7pt;
  height: 23.25pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1.5pt;
  border-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell4 {
  width: 120.85pt;
  vertical-align: top;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-width: 1.5pt;
  border-right-width: 1.5pt;
  border-left-width: 1.5pt;
  border-top-color: Silver;
  border-right-color: Silver;
  border-left-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell5 {
  width: 303.7pt;
  vertical-align: top;
  border-top-style: solid;
  border-right-style: solid;
  border-bottom-style: none;
  border-left-style: solid;
  border-top-width: 1.5pt;
  border-right-width: 1.5pt;
  border-left-width: 1.5pt;
  border-top-color: Silver;
  border-right-color: Silver;
  border-left-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell6 {
  width: 120.85pt;
  vertical-align: top;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-width: 1.5pt;
  border-bottom-width: 1.5pt;
  border-left-width: 1.5pt;
  border-right-color: Silver;
  border-bottom-color: Silver;
  border-left-color: Silver;
  background-color: White;
}
.tbl0 > tbody > tr > td.cell7 {
  width: 303.7pt;
  vertical-align: top;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-width: 1.5pt;
  border-bottom-width: 1.5pt;
  border-left-width: 1.5pt;
  border-right-color: Silver;
  border-bottom-color: Silver;
  border-left-color: Silver;
  background-color: White;
}
.tbl1 {
  border-collapse: collapse;
  border-style: none;
}
.tbl1 > tbody > tr.row0 {
  border-style: none;
}
.tbl1 > tbody > tr > td.cell0 {
  width: 321pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell1 {
  width: 383.25pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell2 {
  width: 87pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell3 {
  width: 481.5pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell4 {
  width: 72.75pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell5 {
  width: 222pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell6 {
  width: 72pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell7 {
  width: 225pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell8 {
  width: 87pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell9 {
  width: 481.5pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell10 {
  width: 383.25pt;
  height: 22px;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell11 {
  width: 104.25pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell12 {
  width: 317.25pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell13 {
  width: 210.75pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell14 {
  width: 135pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl1 > tbody > tr > td.cell15 {
  width: 468.75pt;
  vertical-align: top;
  border-style: solid;
  border-width: 1px;
  border-color: Black;
}
.tbl2 {
  width: 572.15pt;
  border-collapse: collapse;
  border-style: none;
}
.tbl2 > tbody > tr.row0 {
  height: 14.5pt;
  border-style: none;
}
.tbl2 > tbody > tr.row1 {
  height: 27.6pt;
  border-style: none;
}
.tbl2 > tbody > tr > td.cell0 {
  width: 77.4pt;
  vertical-align: top;
  border-style: solid;
  border-width: 0.75pt;
  border-color: Black;
  background-color: White;
}
.tbl2 > tbody > tr > td.cell1 {
  width: 494.75pt;
  vertical-align: top;
  border-style: solid;
  border-width: 0.75pt;
  border-color: Black;
  background-color: White;
}
.tbl2 > tbody > tr > td.cell2 {
  width: 77.4pt;
  vertical-align: top;
  border-style: solid;
  border-width: 0.75pt;
  border-color: Black;
}
.tbl2 > tbody > tr > td.cell3 {
  width: 494.75pt;
  vertical-align: top;
  border-style: solid;
  border-width: 0.75pt;
  border-color: Black;
}